{% extends 'base.html.twig' %}

{% block page_title %}Все клиенты{% endblock page_title %}

{% block foot_scripts %}
  {{ parent() }}
  <script src="/static/js/all_clients.js"></script>
{% endblock foot_scripts %}

{% block content %}
  <h2>Все клиенты</h2><br>

  <form id="searchClient">
    <div class="row">
      <div class="form-group col-md-4">
        <input type="text" name="clientPattern" class="form-control" placeholder="Фамилия, имя, отчество или номер документа клиента">
      </div>
      <div class="form-group col-md-8">
        <input type="submit" class="btn btn-primary" value="Найти">
      </div>
    </div>
  </form>

  <br>

  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      {% if clients|length %}
        <table class="table" id="searchClientList">
          {% set counter = 0 %}
          {% for client in clients %}
            {% set counter = counter+1 %}
            <tr>
              <td>{{ counter }}</td>
              <td>{{ client.client_name }}</td>
              <td>
                {% if client.client_blacked %}
                  <span style="font-weight:bold; color:red;">В черном списке</span>
                {% else %}
                  <b>Рейтинг:</b> {{ client.client_rate }}
                {% endif %}</td>
              <td><button type="button" class="btn btn-normal" onclick="getUserInfoMore({{ client.id }});">Подробнее</button></td>
              <td><a href="/order/new/?q={{ client.client_passport }}" class="btn btn-success" target="_blank">Оформить</a></td>
              <td>
                {% if client.client_owner == user.id or user.access == 1 %}
                  <a href="/clients/edit/?id={{ client.id }}" class="btn btn-primary" target="_blank">Изменить</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <div class="panel panel-warning">
          <div class="panel-heading">Сообщение</div>
          <div class="panel-body">
            Не найдено ни одного клиента. <a href="/clients/add/" class="btn btn-success">Добавить клиента</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
