{% extends 'base.html.twig' %}

{% block page_title %}Редактирование профиля{% endblock page_title %}

{% block head_styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/static/js/lib/select2/css/select2.min.css">
{% endblock head_styles %}

{% block foot_scripts %}
  {{ parent() }}
  <script src="/static/js/settings.js"></script>
{% endblock foot_scripts %}

{% block content %}
  <h2>Настройки аккаунта</h2><br>

  <form class="form-horizontal" role="form" id="settingsForm">
    <div class="form-group">
      <label for="name" class="col-sm-2 control-label">
        {% if user.role == roles.branch %}
          Название проката
        {% endif %}
        {% if user.role == roles.company %}
          Наименование компании
        {% endif %}
        {% if user.role == roles.admin %}
          Имя
        {% endif %}
      </label>
      <div class="col-sm-5">
        <input name="name" type="text" class="form-control" placeholder="Название" value="{{ user.name }}">
      </div>
    </div>

    <div class="form-group">
      <label for="pass_1" class="col-sm-2 control-label">Пароль</label>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-6"><input name="pass_1" type="password" class="form-control" placeholder="Новый пароль">	</div>
          <div class="col-sm-6"><input name="pass_2" type="password" class="form-control" placeholder="Повторите, чтобы не ошибиться"></div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="rent_place" class="col-sm-2 control-label">Адрес передачи ТС</label>
      <div class="col-sm-5">
        <input name="rent_place" type="text" class="form-control" placeholder="Адрес" value="{{ user.rent_place }}">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-5 col-sm-push-2">
        <input type="submit" class="btn btn-primary" value="Сохранить">
      </div>
    </div>
  </form>

  {% if user.role == roles.company %}
    <hr>
    <h2>Информация о компании</h2><br>

    <form action="/settings/company/save" class="ajaxForm form-horizontal" role="form" id="companySettingsForm" callback-after="companySettingsFormCallbackAfter">
      <div class="form-group">
        <label for="company_form" class="col-sm-2 control-label">Организационно-правовая форма</label>
        <div class="col-sm-5">
          <input name="company_form" type="text" class="form-control" value="{{ company.form }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_name" class="col-sm-2 control-label">Наименование организации</label>
        <div class="col-sm-5">
          <input name="company_name" type="text" class="form-control" value="{{ company.name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_city" class="col-sm-2 control-label">Город</label>
        <div class="col-sm-5">
          <input name="company_city" type="text" class="form-control" value="{{ company.city }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_director_name" class="col-sm-2 control-label">ФИО директора</label>
        <div class="col-sm-5">
          <input name="company_director_name" type="text" class="form-control" value="{{ company.director_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_address" class="col-sm-2 control-label">Юридический адрес</label>
        <div class="col-sm-5">
          <input name="company_address" type="text" class="form-control" value="{{ company.address }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_bank_name" class="col-sm-2 control-label">Наименование банка</label>
        <div class="col-sm-5">
          <input name="company_bank_name" type="text" class="form-control" value="{{ company.bank_name }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_inn" class="col-sm-2 control-label">ИНН</label>
        <div class="col-sm-5">
          <input name="company_inn" type="text" class="form-control" value="{{ company.inn }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_kpp" class="col-sm-2 control-label">КПП</label>
        <div class="col-sm-5">
          <input name="company_kpp" type="text" class="form-control" value="{{ company.kpp }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_checking_account" class="col-sm-2 control-label">Р/сч</label>
        <div class="col-sm-5">
          <input name="company_checking_account" type="text" class="form-control" value="{{ company.checking_account }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_correspondent_account" class="col-sm-2 control-label">Корр. счет</label>
        <div class="col-sm-5">
          <input name="company_correspondent_account" type="text" class="form-control" value="{{ company.correspondent_account }}">
        </div>
      </div>

      <div class="form-group">
        <label for="company_bik" class="col-sm-2 control-label">БИК</label>
        <div class="col-sm-5">
          <input name="company_bik" type="text" class="form-control" value="{{ company.bik }}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5 col-sm-push-2">
          <input type="submit" class="btn btn-primary" value="Сохранить">
        </div>
      </div>
    </form>
  {% endif %}

{% endblock content %}
